[defaults]
vault_password_file = .vault.pass
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
pipelining=True
forks=100
stdout_callback = dense
callbacks_enabled = ansible.posix.profile_tasks
