# Rename to .env before running docker compose up.
# Generate your own values rather than reusing these if you ever bring this back up.

ELASTIC_PASSWORD=sSBdnyE9WupLYHyZ
KIBANA_PASSWORD=49c1VjcqgfDGNRFA
KIBANA_ENCRYPTION_KEY=625fef0e09b89fc810269149b5584f17
